.form {
	width: 20%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.form > * {
	margin-bottom: 10px;
}

#submit {
	width: 20%;
	margin-left: 80%;
}

#googleLogin {
	background-color: rgba(59, 108, 241, 0.521);
	color: white;
	box-shadow: 0 0 10px blue;
	border: none;
	outline: none;
	border-radius: 30px;
	transition-duration: 0.3s;
	width: 80%;
	margin: 0 auto;
	cursor: pointer;
}

#googleLogin:hover {
	background-color: rgba(59, 108, 241, 0.8);
	box-shadow: 0 0 10px rgba(59, 108, 241, 1);
}

#googleLogin:active {
	box-shadow: none;
}
